<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to <%= title %></h2>
            <h3>Click on Books list to ADD, EDIT OR DELETE a book from the list</h3>
            <p>Student Name : Prince</p>
            <p>Student Id: 301105083</p>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


